.hea{text-align: center}
#billl{
    text-align: center;
}
* {
    background-color: #ECEFF1;
}


#ab{
    float: left;
    width:33%;
    text-align: center;

}
#logo {

    width:33%;
    float: left;
    text-align: center;
}

.myname{
    width: 30%;
    float: right;
    text-align: right;
    color:black;
    padding-left: 2em;


}


.blue-bar {
    clear: both;
    height:1.8em;
    width: 100%;
    background: -webkit-linear-gradient(top, #546E7A, #607D8B);
}

.mainbar {
    background: -webkit-linear-gradient(top, #546E7A, #607D8B);
    height: 1.8em;
    width: 45em;
    margin: 0 auto;
}

.abar {
    background: -webkit-linear-gradient(top, #546E7A, #607D8B);
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Times New Roman", serif;
    color: #FFFFFF;
    display: inline-block;
    padding: 0.2em 0.4em;
    border-left: 0.02em solid;
    text-transform:uppercase ;

}
.abar:hover{
    color:#546E7A;
    background:#FFFFFF;
    text-decoration: none;
}

ul li {
    float: left;
    list-style: none;
}
.rightbar{
    float:left;
}





#butbSave {
    margin-top: 1em;
    border: 0.01em solid #80DEEA;
    text-align: center;
    color: #80DEEA;
    font-family: "Lucida Bright", serif;
}
#butbSave:hover{
    color:black;
    font-weight: bold;
}


.footer {
    margin-top: 3em;
    clear: both;
    text-align: center;
    color: black;
    font-family: "Times New Roman", serif;
}
.item-list {
    font-size: 0.8em;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
