* {
    background-color: #ECEFF1;

}


#logo {

    width:33%;
    float: left;
    text-align: center;

}

.myname{
    float: right;
    text-align: right;
    color:black;
    padding-left: 2em;


}


.blue-bar {
    clear: both;
    height: 1.6em;
    background: -webkit-linear-gradient(top, #546E7A, #607D8B);
    width: 100%;
    text-align: center;
}



.mainbar {
    clear: both;
    background: #546E7A;
    height:3em;
    text-align: center;
    width: 100%;
    display: block;

}

.abar {
    clear: both;
    background: #546E7A;
    font-size: 1em;
    font-family: "Times New Roman", serif;
    color: #FFFFFF;
    border-left: 0.02em solid #ECEFF1;
    border-right: 0.02em solid #ECEFF1;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding: 0;
    display: block;


}


.mainbar ul li {
    list-style: none;
    font-size: 0.8em;
    display: block;
}

#rightbar {
    float: right;
}

#acc {
    margin: 2em 4em 2em 4em;
    float: left;
    border: 0.01em solid #E0E0E0;
    line-height: 1;
    text-align: left;
    display: inline-block;
    padding: 1em;
    width: 50%;

}

#mon {
    margin: 2em 4em 2em 4em;
    float: left;
    border: 0.01em solid #E0E0E0;
    line-height: 1;
    text-align: left;
    display: block;
    padding: 1em;
    width: 50%;

}

#feed {
    clear: both;
    margin: 2em 4em 2em 4em;
    float: left;
    border: 0.01em solid #E0E0E0;
    line-height: 1;
    display: block;
    padding: 1em;
    width: 50%;
    text-align: left;
}

#butFeed {
    border-radius: 0.2em;
    margin-top: 1em;
    border: 0.01em solid #80DEEA;
    text-align: center;
    background-color: #80DEEA;
    font-family: "Lucida Bright", serif;
    display: block;
    color:#FFFFFF;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

hr{
    clear:both;
}


.footer {
    margin-top: 3em;
    clear: both;
    text-align: center;
    color: black;
    font-family: "Times New Roman", serif;
}

.separator {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.item-list {
    font-size: 0.8em;
}