* {
    background-color: #ECEFF1;

}


#logo {

    width:33%;
    float: left;
    text-align: center;

}

.myname{
    width: 100%;
    float: right;
    text-align: right;
    color:black;
    padding-left: 2em;


}


.blue-bar {
    clear: both;
    height: 1.6em;
    background: -webkit-linear-gradient(top, #546E7A, #607D8B);
    width: 100%;
    text-align: center;
}



.mainbar {
    clear: both;
    background: #546E7A;
    height:3em;
    text-align: center;
    width: 100%;
    display: block;

}

.abar {
    clear: both;
    background: #546E7A;
    font-size: 1em;
    font-family: "Times New Roman", serif;
    color: #FFFFFF;
    border-left: 0.02em solid #ECEFF1;
    border-right: 0.02em solid #ECEFF1;
    text-transform: uppercase;
    text-align: center;
    margin:0;
    padding: 0;
    display: block;


}


.mainbar ul li {
    list-style: none;
    font-size: 0.8em;
    display: block;
}
.footer {
    margin-top: 3em;
    clear: both;
    text-align: center;
    color: black;
    font-family: "Times New Roman", serif;
}

.separator {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.item-list {
    font-size: 0.8em;
}
#title{
    margin-top:3em;
    line-height: 0.5em;
}
.maintranz{
    text-align: center;
}
#searchtraz{
}

input[type=search] {
    border: 0.07em solid #999;
    border-radius: 0.2em;


}
#butS{
    border: 0.01em solid #80DEEA;
    text-align: center;
    background-color: #80DEEA;
    font-family: "Lucida Bright", serif;
    color:#FFFFFF;
    margin-left: 1em;

}
